/Lab1_homework/nbproject/private/
/Lab1_homework/build/
/Lab2-Derby/nbproject/private/
/Lab2-Derby/build/
/Lab2_homework/nbproject/private/
/Lab2_homework/build/
/Lab3/nbproject/private/
/Lab3/build/
